#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Icon_tabs_buttons {
  border-collapse: separate;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_46 {
  -ms-transform: rotate(0.0deg);
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_47 {
  -ms-transform: rotate(0.0deg);
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_48 {
  -ms-transform: rotate(0.0deg);
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Line_6 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Line_6 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Line_5 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Line_5 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Line_8 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Line_8 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Line_7 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Line_7 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-raised_Button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 34px;
  width: 105px;
  -ms-transform: rotate(0.0deg);
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Bottom_Nave {
  border-collapse: separate;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Cell_1 > .valign {
  vertical-align: top;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Cell_3 > .valign {
  vertical-align: top;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_102 {
  -ms-transform: rotate(0.0deg);
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Cell_5 > .valign {
  vertical-align: top;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Cell_7 > .valign {
  vertical-align: top;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}