#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe > #backgroundBox {
  background-color: #6EFECD;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  position: absolute;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_1 > .clipping, #s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_1 span {
  color: #FE866E;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FE866E;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Icon_tabs {
  position: absolute;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Content_panel_2 {
  width: 0px;
  height: 48px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Content_panel_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: -3px 0px 4px 0px #A0A0A0;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Content_panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Content_panel_2 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 100px;
  height: 48px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Content_panel_2 .verticalalign {
  vertical-align: top;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Icon_tabs_buttons {
  position: absolute;
  width: 360px;
  height: 48px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Icon_tabs_buttons > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #6E9EFE;
  background-image: none;
  box-shadow: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Icon_tabs_buttons > table {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Cell_8 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Cell_8 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Cell_8 .verticalalign {
  vertical-align: middle;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Cell_8 {
  width: 120px;
  height: 48px;
  background-color: transparent;
  background-image: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_46 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_46 {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_46 > .clipping, #s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_46 > .paddingLayer {
  height: 100px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_46 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_46 span {
  color: #BCBCBC;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_46 span#rtr-s-Label_46_0 {
  color: #BCBCBC;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_10 > svg {
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_10 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_10 > img, #s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_10 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Cell_9 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Cell_9 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Cell_9 .verticalalign {
  vertical-align: middle;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Cell_9 {
  width: 120px;
  height: 48px;
  background-color: transparent;
  background-image: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_47 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_47 {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_47 > .clipping, #s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_47 > .paddingLayer {
  height: 100px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_47 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_47 span {
  color: #BCBCBC;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_47 span#rtr-s-Label_47_0 {
  color: #BCBCBC;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_12 > svg {
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_12 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_12 > img, #s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_12 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Cell_10 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Cell_10 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Cell_10 .verticalalign {
  vertical-align: middle;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Cell_10 {
  width: 120px;
  height: 48px;
  background-color: transparent;
  background-image: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_48 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_48 {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_48 > .clipping, #s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_48 > .paddingLayer {
  height: 100px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_48 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_48 span {
  color: #BCBCBC;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_48 span#rtr-s-Label_48_0 {
  color: #BCBCBC;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_13 > svg {
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_13 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_13 > img, #s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_13 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_2 > .clipping, #s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_2 span {
  color: #FE866E;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FE866E;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-input {
  position: absolute;
  width: 342px;
  height: 44px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #shapewrapper-s-Line_6 marker {
  fill: #6E9EFE;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #shapewrapper-s-Line_6 {
  position: absolute;
  width: 342px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Line_6 {
  width: 95px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #6E9EFE;
  box-shadow: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Input_3 input::-webkit-input-placeholder {
  color: #FE866E;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Input_3 input::-moz-placeholder {
  color: #FE866E;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Input_3 input:-moz-placeholder {
  color: #FE866E;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Input_3 input:-ms-input-placeholder {
  color: #FE866E;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Input_3 {
  position: absolute;
  width: 0px;
  height: 44px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Input_3 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Input_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Input_3 > .paddingLayer {
  height: 20px;
  width: 90px;
  padding-top: 16px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #shapewrapper-s-Line_5 marker {
  fill: #757575;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #shapewrapper-s-Line_5 {
  position: absolute;
  width: 342px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Line_5 {
  width: 95px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #757575;
  box-shadow: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_3 > .clipping, #s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_3 span {
  color: #FE866E;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FE866E;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Input_1 {
  position: absolute;
  width: 174px;
  height: 28px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Input_1 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Input_1 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  box-shadow: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Input_1 > .paddingLayer {
  height: 27px;
  width: 174px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-input_text_area {
  position: absolute;
  width: 342px;
  height: 220px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #shapewrapper-s-Line_8 marker {
  fill: #6E9EFE;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #shapewrapper-s-Line_8 {
  position: absolute;
  width: 342px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Line_8 {
  width: 95px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #6E9EFE;
  box-shadow: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Input_4 textarea::-webkit-input-placeholder {
  color: #FE866E;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Input_4 textarea::-moz-placeholder {
  color: #FE866E;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Input_4 textarea:-moz-placeholder {
  color: #FE866E;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Input_4 textarea:-ms-input-placeholder {
  color: #FE866E;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Input_4 {
  position: absolute;
  width: 0px;
  height: 220px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Input_4 textarea {
  height: 196px;
  width: 90px;
  margin-top: 16px;
  margin-bottom: 8px;
  margin-left: 5px;
  margin-right: 0px;
  color: #FE866E;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Input_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #shapewrapper-s-Line_7 marker {
  fill: #757575;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #shapewrapper-s-Line_7 {
  position: absolute;
  width: 342px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Line_7 {
  width: 95px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #757575;
  box-shadow: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-raised_Button > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #6E9EFE;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0px 2px 5px 0px #999999;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-raised_Button {
  position: absolute;
  width: 107px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-raised_Button > .clipping, #s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-raised_Button > .paddingLayer {
  height: 34px;
  width: 105px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-raised_Button .valign {
  vertical-align: middle;
  text-align: center;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-raised_Button span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-raised_Button span#rtr-s-raised_Button_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_4 > .clipping, #s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_4 span {
  color: #FE866E;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FE866E;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_43 > svg {
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_43 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_43 > img, #s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_43 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_1 > svg {
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_1 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_1 > img, #s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_1 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Bottom_Nave {
  position: absolute;
  width: 360px;
  height: 56px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Bottom_Nave > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #6E9EFE;
  background-image: none;
  box-shadow: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Bottom_Nave > table {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Cell_1 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Cell_1 td.layout {
  padding: 10px 10px 10px 10px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Cell_1 .verticalalign {
  vertical-align: top;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Cell_1 {
  width: 90px;
  height: 56px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_36 > svg {
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_36 {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_36 > img, #s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_36 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_3 {
  width: 59px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_3 > .clipping, #s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_3 > .paddingLayer {
  height: 14px;
  width: 59px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 9.0pt;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_3 span#rtr-s-Label_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Cell_3 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Cell_3 td.layout {
  padding: 10px 10px 10px 10px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Cell_3 .verticalalign {
  vertical-align: top;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Cell_3 {
  width: 90px;
  height: 56px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_102 > svg {
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_102 {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_102 > img, #s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_102 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_5 {
  width: 59px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_5 > .clipping, #s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_5 > .paddingLayer {
  height: 14px;
  width: 59px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 9.0pt;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_5 span#rtr-s-Label_5_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Cell_5 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Cell_5 td.layout {
  padding: 10px 10px 10px 10px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Cell_5 .verticalalign {
  vertical-align: top;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Cell_5 {
  width: 90px;
  height: 56px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_2 > svg {
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_2 {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_2 > img, #s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_2 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_7 {
  width: 59px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_7 > .clipping, #s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_7 > .paddingLayer {
  height: 14px;
  width: 59px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 9.0pt;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_7 span#rtr-s-Label_7_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Cell_7 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Cell_7 td.layout {
  padding: 10px 10px 10px 10px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Cell_7 .verticalalign {
  vertical-align: top;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Cell_7 {
  width: 90px;
  height: 56px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_3 > svg {
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_3 {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_3 > img, #s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_3 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_9 {
  width: 59px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_9 > .clipping, #s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_9 > .paddingLayer {
  height: 14px;
  width: 59px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 9.0pt;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_9 span#rtr-s-Label_9_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}