#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-raised_Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-06a3832d-1d3f-4b67-9370-418f3a95ebbe > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}