#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_5 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_5 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_6 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_6 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_7 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_7 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_8 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_8 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_9 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_9 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_10 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_10 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_11 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_11 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_12 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_12 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_13 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_13 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_14 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_14 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_15 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_15 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_16 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_16 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_19 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_19 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_20 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_20 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_21 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_21 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_22 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_22 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_23 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_23 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_24 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Line_24 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Bottom_Nave_1 {
  border-collapse: separate;
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Cell_2 > .valign {
  vertical-align: top;
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Image_79 {
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Cell_4 > .valign {
  vertical-align: top;
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Image_46 {
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Cell_6 > .valign {
  vertical-align: top;
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Cell_8 > .valign {
  vertical-align: top;
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Bottom_Nave {
  border-collapse: separate;
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Cell_1 > .valign {
  vertical-align: top;
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Cell_3 > .valign {
  vertical-align: top;
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Image_102 {
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Cell_5 > .valign {
  vertical-align: top;
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Cell_7 > .valign {
  vertical-align: top;
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-109ad32e-82d7-4aed-b3e0-afd3f1b5bc70 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}