#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Bottom_Nave {
  border-collapse: separate;
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Cell_1 > .valign {
  vertical-align: top;
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Cell_3 > .valign {
  vertical-align: top;
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Image_102 {
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Cell_5 > .valign {
  vertical-align: top;
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Cell_7 > .valign {
  vertical-align: top;
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Line_6 {
  stroke-width: 2px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Line_6 {
  stroke-width: 2px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Line_5 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Line_5 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Line_11 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Line_11 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Line_12 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Line_12 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Line_13 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Line_13 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Line_14 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Line_14 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Line_16 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Line_16 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Line_15 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Line_15 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Line_17 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Line_17 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Line_20 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Line_20 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Line_19 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Line_19 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Line_22 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Line_22 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Line_21 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Line_21 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Line_23 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Line_23 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Line_24 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Line_24 {
  stroke-width: 2px;
  stroke: #6E9EFE;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Line_25 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Line_25 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-raised_Button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 34px;
  width: 105px;
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Category_3-options {
  background-color: #6EFECD;
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Category_4-options {
  background-color: #6EFECD;
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Picture_user {
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1f9b8dc7-5869-4908-8fad-dced42109ba8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}