#s-41d629b8-37d5-40bf-872e-83606f621cb4 > #backgroundBox {
  background-color: #6EFECD;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  position: absolute;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Bottom_Nave {
  position: absolute;
  width: 360px;
  height: 56px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Bottom_Nave > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #6E9EFE;
  background-image: none;
  box-shadow: none;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Bottom_Nave > table {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Cell_1 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Cell_1 td.layout {
  padding: 10px 10px 10px 10px;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Cell_1 .verticalalign {
  vertical-align: top;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Cell_1 {
  width: 90px;
  height: 56px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Image_36 > svg {
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Image_36 {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Image_36 > img, #s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Image_36 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Label_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Label_3 {
  width: 59px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Label_3 > .clipping, #s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Label_3 > .paddingLayer {
  height: 14px;
  width: 59px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Label_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Label_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 9.0pt;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Label_3 span#rtr-s-Label_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Cell_3 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Cell_3 td.layout {
  padding: 10px 10px 10px 10px;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Cell_3 .verticalalign {
  vertical-align: top;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Cell_3 {
  width: 90px;
  height: 56px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Image_102 > svg {
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Image_102 {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Image_102 > img, #s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Image_102 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Label_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Label_5 {
  width: 59px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Label_5 > .clipping, #s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Label_5 > .paddingLayer {
  height: 14px;
  width: 59px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Label_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Label_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 9.0pt;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Label_5 span#rtr-s-Label_5_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Cell_5 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Cell_5 td.layout {
  padding: 10px 10px 10px 10px;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Cell_5 .verticalalign {
  vertical-align: top;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Cell_5 {
  width: 90px;
  height: 56px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Image_2 > svg {
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Image_2 {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Image_2 > img, #s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Image_2 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Label_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Label_7 {
  width: 59px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Label_7 > .clipping, #s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Label_7 > .paddingLayer {
  height: 14px;
  width: 59px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Label_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Label_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 9.0pt;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Label_7 span#rtr-s-Label_7_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Cell_7 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Cell_7 td.layout {
  padding: 10px 10px 10px 10px;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Cell_7 .verticalalign {
  vertical-align: top;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Cell_7 {
  width: 90px;
  height: 56px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Image_3 > svg {
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Image_3 {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Image_3 > img, #s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Image_3 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Label_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Label_9 {
  width: 59px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Label_9 > .clipping, #s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Label_9 > .paddingLayer {
  height: 14px;
  width: 59px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Label_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Label_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 9.0pt;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Label_9 span#rtr-s-Label_9_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Image_1 {
  position: absolute;
  width: 160px;
  height: 160px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Image_1 > img, #s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Image_1 > svg {
  height: 160px;
  width: 160px;
  box-shadow: none;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Text_2 > .clipping, #s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Text_2 span {
  color: #FE866E;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FE866E;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Text_3 > .clipping, #s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Text_3 span {
  color: #FE866E;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FE866E;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Input_1 {
  position: absolute;
  width: 85px;
  height: 28px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Input_1 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Input_1 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  box-shadow: none;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Input_1 > .paddingLayer {
  height: 27px;
  width: 85px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Input_4 textarea::-webkit-input-placeholder {
  color: #808080;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Input_4 textarea::-moz-placeholder {
  color: #808080;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Input_4 textarea:-moz-placeholder {
  color: #808080;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Input_4 textarea:-ms-input-placeholder {
  color: #808080;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Input_4 {
  position: absolute;
  width: 0px;
  height: 194px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Input_4 textarea {
  height: 170px;
  width: 87px;
  margin-top: 16px;
  margin-bottom: 8px;
  margin-left: 5px;
  margin-right: 0px;
  color: #FE866E;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-Input_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-raised_Button > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #6E9EFE;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0px 2px 5px 0px #999999;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-raised_Button {
  position: absolute;
  width: 107px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-raised_Button > .clipping, #s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-raised_Button > .paddingLayer {
  height: 34px;
  width: 105px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-raised_Button .valign {
  vertical-align: middle;
  text-align: center;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-raised_Button span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 #s-raised_Button span#rtr-s-raised_Button_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-41d629b8-37d5-40bf-872e-83606f621cb4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}