#s-66942628-441a-42a4-b45e-40a2e224925d #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Bottom_Nave_1 {
  border-collapse: separate;
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Cell_2 > .valign {
  vertical-align: top;
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Image_79 {
  -ms-transform: rotate(0.0deg);
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Cell_4 > .valign {
  vertical-align: top;
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Image_46 {
  -ms-transform: rotate(0.0deg);
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Cell_6 > .valign {
  vertical-align: top;
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Cell_8 > .valign {
  vertical-align: top;
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Bottom_Nave {
  border-collapse: separate;
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Cell_1 > .valign {
  vertical-align: top;
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Cell_3 > .valign {
  vertical-align: top;
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Image_102 {
  -ms-transform: rotate(0.0deg);
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Cell_5 > .valign {
  vertical-align: top;
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Cell_7 > .valign {
  vertical-align: top;
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-66942628-441a-42a4-b45e-40a2e224925d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}