#s-66942628-441a-42a4-b45e-40a2e224925d #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Image_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Image_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Image_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66942628-441a-42a4-b45e-40a2e224925d #s-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-66942628-441a-42a4-b45e-40a2e224925d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}