#s-8aeeb822-2ba6-4aa1-9543-eb699b51dd38 #s-Input_2 INPUT {
  font-family: Arial;
}
#s-8aeeb822-2ba6-4aa1-9543-eb699b51dd38 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8aeeb822-2ba6-4aa1-9543-eb699b51dd38 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8aeeb822-2ba6-4aa1-9543-eb699b51dd38 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8aeeb822-2ba6-4aa1-9543-eb699b51dd38 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8aeeb822-2ba6-4aa1-9543-eb699b51dd38 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8aeeb822-2ba6-4aa1-9543-eb699b51dd38 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8aeeb822-2ba6-4aa1-9543-eb699b51dd38 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8aeeb822-2ba6-4aa1-9543-eb699b51dd38 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}