#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Icon_tabs_buttons {
  border-collapse: separate;
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Label_46 {
  -ms-transform: rotate(0.0deg);
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Label_47 {
  -ms-transform: rotate(0.0deg);
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Label_48 {
  -ms-transform: rotate(0.0deg);
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Rectangle_4 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Rectangle_3 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Rectangle_2 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Ellipse_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Rectangle_1 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Rectangle {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Ellipse_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Rectangle_5 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Ellipse_8 {
  -ms-transform: rotate(0.0deg);
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Rectangle_6 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Bottom_Nave {
  border-collapse: separate;
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Cell_1 > .valign {
  vertical-align: top;
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Cell_3 > .valign {
  vertical-align: top;
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Image_102 {
  -ms-transform: rotate(0.0deg);
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Cell_5 > .valign {
  vertical-align: top;
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Cell_7 > .valign {
  vertical-align: top;
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ebf33552-53cf-4f4f-a3a1-809104f12b69 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}